html { 
  overflow-y: hidden; 
  overflow-x: hidden;
}

body {
 margin: 0;
 padding: 0;
 background-color: rgba(14, 14, 15, 0.8);
}

.bg {
  /* background-color : #0E0E0F; */
  /* width: 100%;
  height: auto; */
  background: linear-gradient(0deg, rgba(14, 14, 15, 0.9), rgba(14, 14, 15, 0.9)), url('images/bgimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    /* Add the blur effect */
  filter: blur(6px);

 
}

